
/* active nav link */
html {
height: 100vh;
min-width: 300px;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
.montserrat {
font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');
.robotoMono {
font-family: 'Roboto Mono', monospace;
}
